#navbar {
  grid-area: navbar;
  border: 1px solid black;
  width: auto;
  height: 50px;

  display: grid;
  grid-template-columns: repeat(1fr, 14);

}

#main-video {
  grid-area: main;
  border: 1px solid black;
}

#sidebar {
  grid-area: sidebar;
  border: 1px solid black;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "navbar navbar navbar navbar navbar"
    "main main main sidebar sidebar"
    "footer  footer  footer footer footer";
  background-color: #fff;
  color: #444;
}

#menu-icon {
  grid-column: 1 / span 1;
  border: 1px solid blue;

  display: flex;
  align-items: center;
  justify-content: center;
}
#logo-icon {
  border: 1px solid blue;
  grid-column: 2 / span 2;

  display: flex;
  align-items: center;
  justify-content: left;
}
#in-search {
  border: 1px solid blue;
  grid-column: 4 / span 7;

  display: flex;
  align-items: center;
  justify-content: center;
}
#b-search {
  border: 1px solid blue;
  grid-column: 11 / 12;

  display: flex;
  align-items: center;
  justify-content: center
}
#arrow-icon {
  border: 1px solid blue;
  grid-column: 12 / 13;

  display: flex;
  align-items: center;
  justify-content: center
}
#bell-icon {
  border: 1px solid blue;
  grid-column: 13 / 14;

  display: flex;
  align-items: center;
  justify-content: center
}
#b-sign-in {
  border: 1px solid blue;
  grid-column: 14 / 15;

  display: flex;
  align-items: center;
  justify-content: center
}

#logo-icon img {
  width: 50%;
}

#magnifier {
  font-size: 100%;
  display: block;
  opacity: 0.6;
  text-indent: -10000px;
  background-image: url("https://archive.ph/Bss88/73e7cc59947d2ad243d63294411f83990629f7fc.png");
  background-color: transparent;
  width: 15px;
  height: 15px;
  box-shadow: none;
  background-position: -28px -66px;
  background-repeat: no-repeat;
  border-width: medium;
  border-style: none;
  margin: 0px 25px;
  padding: 0px;
  border-color: white;
}

#arrow-icon div {
  font-size: 100%;
  display: block;
  opacity: 0.6;
  text-indent: -10000px;
  background-image: url("https://archive.ph/Bss88/73e7cc59947d2ad243d63294411f83990629f7fc.png");
  background-color: transparent;
  width: 24px;
  height: 24px;
  box-shadow: none;
  background-position: -125px -314px;
  background-repeat: no-repeat;
  border-width: medium;
  border-style: none;
  margin: 0px 25px;
  padding: 0px;
  border-color: white;
}

#bell-icon div {
  width: 24px;
  height: 24px;
  display: block;
  opacity: 0.6;
}

#sing-in {
  font-size: 100%;
  background-color: transparent;
  border-width: 0px;
  border-style: none;
  margin: 0px;
  padding: 0px;
  border-color: white;
}

#menu-icon span {
  font-size: 100%;
  display: block;
  opacity: 0.6;
  text-indent: -10000px;
  background-image: url("https://archive.ph/Bss88/73e7cc59947d2ad243d63294411f83990629f7fc.png");
  background-color: transparent;
  width: 16px;
  height: 16px;
  box-shadow: none;
  background-position: -198px -862px;
  background-repeat: no-repeat;
  border-width: medium;
  border-style: none;
  margin: 0px 25px;
  padding: 0px;
  border-color: white;
}

#in-search input {
  width: 100%;
  height: 30px;
  display: flexbox;
  vertical-align: middle;
}

#in-search {
  display: inline-block;
  vertical-align: middle;
}
