#navbar {
  grid-area: navbar;
  border: 1px solid black;
  width: auto;

  display: grid;
  grid-template-columns: repeat(1fr, 14);
  grid-template-rows: 1fr;
}

#main-video {
  grid-area: main;
  border: 1px solid black;
}

#sidebar {
  grid-area: sidebar;
  border: 1px solid black;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "navbar navbar navbar navbar navbar"
    "main main main sidebar sidebar"
    "footer  footer  footer footer footer";
  background-color: #fff;
  color: #444;
}

#menu-icon {
  grid-column: 1 / 2;
  border: 1px solid blue;
}
#logo-icon {
  border: 1px solid blue;
  grid-column: 2 / 5;
}
#in-search {
  grid-column: 5 / 11;
}
#b-search {
  grid-column: 11 / 12;
}
#arrow-icon {
  grid-column: 12 / 13;
}
#bell-icon {
  grid-column: 13 / 14;
}
#b-sign-in {
  grid-column: 14 / 15;
}

